# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Default configuration for all files
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Use utf-8 charset for modern languages
[*.{js,py,go}]
charset = utf-8

# Use tab indentation for Go and Makefiles
[{*.go,go.*,Makefile}]
indent_style = tab
indent_size = 4

