[Unit]
Description=Arduino Orchestrator Service

[Service]
ExecStart=/usr/bin/arduino-app-cli daemon --port 8800
Environment="ARDUINO_APP_CLI__APPS_DIR=/opt/arduino/apps"
Environment="ARDUINO_APP_CLI__DATA_DIR=/opt/arduino/data"
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
