[Unit]
Description=Arduino Orchestrator Service
After=network-online.target docker.service arduino-router.service
Wants=network-online.target docker.service arduino-router.service
Requires=docker.service arduino-router.service

[Service]
ExecStart=/usr/bin/arduino-app-cli daemon --port 8800
User=arduino
Group=arduino
Environment="ARDUINO_APP_CLI__APPS_DIR=/home/arduino/arduino-apps"
Environment="ARDUINO_APP_CLI__DATA_DIR=/home/arduino/.arduino-app-cli"
Environment="ARDUINO_APP_CLI__ROUTER_SOCKET=/var/run/arduino-router.sock"
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
