# .github/workflows/generate-copyright.yml

name: Generate Debian Copyright File

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: # Allows you to run this workflow manually

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Create the source archive debmake needs
      - name: Create Source Archive
        run: |
          mkdir -p ../arduino-app-cli-source
          rsync -av --progress . ../arduino-app-cli-source --exclude .git
          cd ..
          tar -czf arduino-app-cli.tar.gz arduino-app-cli-source
          cd arduino-app-cli

      # 3. Install debmake
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y debmake

      # 4. Run debmake to generate the debian/ directory and its files
      - name: Run debmake to create packaging files
        run: debmake -y

      # 5. Upload only the copyright file as an artifact
      - name: Upload copyright file
        uses: actions/upload-artifact@v4
        with:
          name: debian-copyright-file
          path: debian/copyright