name: Build deb package for self-hosted

on:
  push:
    branches: [ main ]

env:
  PROJECT_NAME: "arduino-app-cli"
  GITHUB_TOKEN: ${{ secrets.ARDUINOBOT_TOKEN }}
  GITHUB_USERNAME: ArduinoBot

jobs:
  build-deb:
      runs-on: ubuntu-22.04

      env:
        VERSION: "1.2.3"         # e.g. tag name like "1.2.3"
        ARCH: arm64                              # or amd64, etc.
    
      steps:
        # - name: Set env vars
        #   run: |
        #     echo "TAG_VERSION=${GITHUB_REF##*/}" >> $GITHUB_ENV
        #     echo "creating tag ${TAG_VERSION}"

        - name: Checkout
          uses: actions/checkout@v4
          with:
            fetch-depth: 0

        # - name: Configure Git for private repo cloning
        #   run: |
        #     git config --global url."https://${{ env.GITHUB_USERNAME }}:${{ env.GITHUB_TOKEN }}@github.com".insteadOf "https://github.com"

        - name: Set up Go
          uses: actions/setup-go@v5
          with:
            go-version-file: go.mod

        - name: Build deb
          run: |
            go tool task build-deb VERSION="1.2.3" ARCH=${{ matrix.arch }}

        - name: Show build output
          run: ls -R ./build

        - name: Upload debian package artifact
          uses: actions/upload-artifact@v4
          with:
            name: arduino-app-cli-deb
            path: ./build/*.deb