name: Build deb package for self-hosted workflow

on:
  push:
    branches: [ main ]

env:
  PROJECT_NAME: "arduino-app-cli"
  GITHUB_TOKEN: ${{ secrets.ARDUINOBOT_TOKEN }}
  GITHUB_USERNAME: ArduinoBot

jobs:
  build-deb:
    runs-on: ubuntu-22.04

    env:
      VERSION: "1.2.3"    # or use TAG_VERSION, etc.
      ARCH: arm64         # or amd64, etc.

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Build deb
        run: |
          go tool task build-deb VERSION="${VERSION}" ARCH="${ARCH}"

      - name: Show build output
        run: ls -R ./build

      - name: Upload debian package artifact
        uses: actions/upload-artifact@v4
        with:
          name: arduino-app-cli-deb
          path: ./build/*.deb
