name: Build deb package for self-hosted

on:
  push:
    branches:
      - main
  workflow_run:
    workflows: [ "Build deb package for self-hosted" ]   # MUST match Workflow A name
    types:
      - completed

jobs:
  hw-test:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted   # usa il runner che hai appena configurato
    steps:
      - name: Download deb artifact
        uses: actions/download-artifact@v4
        with:
          name: arduino-app-cli-deb
          path: ./build/*.deb

      - name: Install package
        run: |
          sudo dpkg -i ./deb/*.deb || sudo apt-get -f install -y