name: CI on self-hosted

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  hw-test:
    runs-on: self-hosted   # usa il runner che hai appena configurato

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      # - name: Install GitHub CLI
      #   run: sudo apt-get update && sudo apt-get install -y gh

      - name: Run dep package update test
        run: |
          go tool task arduino-app-cli:build:local